<% if !flash[:notice].blank? %>
<div id="flashF" class="btn btn-secondary btn-danger alrtButton">
<%= flash[:notice] %>
</div>
<% end %>

<div id="mainF1">

  <h1 id="headWord">Робоче місце по роботі зі зверненнями клієнтів123123</h1>

  <%= link_to("Створити проблему", new_problem_path, id: 'crt_problem', class: 'btn btn-primary', remote: true) %><br><br>
  <%= link_to("Звіт по користувачу", problems_searchTablet_path, id: 'report_problem', class: 'btn btn-primary', remote: true) %> <br><br>
  <%= link_to("Всі проблеми", problems_list_path, id: 'all_problems', class: 'btn btn-primary', remote: true) %>

</div>
