@import "bootstrap";
.ButtonCls{
  background-color: #fff032;
  font-weight: bold;
  color: #ff68e6;
  cursor: pointer;
}
.bigImg {
	position: absolute;
}
.imgStyle{
	height: 100px;
	width: 100px;
	border: 3px solid grey;
}
.cont2 {
	border: 1px
}
.divauto{
	background-color: grey;
	text-align: center;
	font-size: 16px;
}

.div2{
  color: #59b315;
}
.alrtButton{
  font-size: 20px;
}
.customInput {
  width: 30%;
  border-radius: 2px;
}
.customInput:focus{
  background-color: #ebf7f9;
}
.buttonInput{
  left: 550px;
}
